@keyframes glow {
  0%, 100% {
    text-shadow: 0 0 4px rgba(99, 102, 241, 0.5), 0 0 8px rgba(99, 102, 241, 0.5);
    color: rgba(255, 255, 255, 0.9);
  }
  50% {
    text-shadow: 0 0 8px rgba(99, 102, 241, 0.8), 0 0 16px rgba(99, 102, 241, 0.8);
    color: rgba(255, 255, 255, 1);
  }
}

.animate-glow {
  animation: glow 2.5s ease-in-out infinite;
}




@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.animate-blink {
  animation: blink 0.8s step-end infinite;
}

@keyframes ping-slow {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2);
    opacity: 0;
  }
}
.animate-ping-slow {
  animation: ping-slow 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}
